# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

# The following `prisma+postgres` URL is similar to the URL produced by running a local Prisma Postgres 
# server with the `prisma dev` CLI command, when not choosing any non-default ports or settings. The API key, unlike the 
# one found in a remote Prisma Postgres URL, does not contain any sensitive information.

SCHED_DATABASE_URL=postgresql://USER:PASSWORD@HOST:PORT/DATABASE
# SCHED_REDIS_URL=redis://USER:PASSWORD@HOST:PORT/DB_INDEX
SCHED_BOT_ADMIN_TGID=YOUR_TELEGRAM_ID
SCHED_BOT_ADMIN_CONTACT=@YOUR_TELEGRAM_HANDLE
SCHED_BOT_DOMAIN=example.com
SCHED_CREDENTIALS_KEY=ALongStringOfText64OrMoreCharacters
SCHED_PORT=3000
TZ=Europe/Samara

