SCHED_BOT_TOKEN=TELEGRAM_BOT_TOKEN
SCHED_SERVER_DOMAIN=http://localhost:3000
SCHED_SERVER_DATABASE_URL=postgresql://user:password@localhost:5432/ssau_schedule
SCHED_BOT_DISPATCH_URL=http://localhost:3001

SCHED_BOT_ADMIN_TGID=0
SCHED_BOT_ADMIN_CONTACT=[Администратор не задан]

# Must be at least 64 characters
SCHED_SERVER_CREDENTIALS_KEY=replace_with_at_least_64_characters_long_secret_key_value
SCHED_SERVER_JWT_SECRET=replace_with_at_least_64_characters_long_jwt_secret_value
SCHED_SERVER_INTERNAL_API_SECRET=replace_with_at_least_64_characters_long_internal_api_secret_value

# Optional
SCHED_SERVER_PORT=3000
SCHED_SERVER_HOST=0.0.0.0
# This sets the 'Next-Action' header during the lk login request
SCHED_SSAU_NEXT_ACTION= 
# If running outside of docker and puppetteer does not pick up the path
SCHED_SERVER_CHROME_PATH=

LOG_LEVEL=info
TZ=Europe/Samara
NODE_ENV=production
PRISMA_LOGS=false
