<!DOCTYPE html>
<html><head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
<link rel="stylesheet" href="./timetable.css">
<meta charset="utf8">
</head>
<body class="bg-black flex flex-col gap-2 w-full items-stretch p-2">
<header class="bg-black text-white border-2 border-white rounded-lg items-center flex flex-col p-1">
<a class="text-lg font-bold">Моё расписание, 3 неделя</a>
</header><nav class="flex flex-row justify-between gap-2 font-bold text-center"><div class="border-2 border-green-400 bg-green-950 text-white rounded-lg flex-1 p-1">Лекция</div><div class="border-2 border-red-400 bg-red-950 text-white rounded-lg flex-1 p-1">Практика</div><div class="border-2 border-purple-400 bg-purple-950 text-white rounded-lg flex-1 p-1">Лабораторная</div><div class="border-2 border-orange-400 bg-orange-950 text-white rounded-lg flex-1 p-1">Прочее</div><div class="border-2 border-blue-400 bg-blue-950 text-white rounded-lg flex-1 p-1">Консультация</div><div class="border-2 border-white bg-black text-white rounded-lg flex-1 p-1">Экзамен</div><div class="bg-white rounded-lg hidden flex-1 p-1">Окно</div><div class="bg-white rounded-lg outline-purple-500 outline-2 outline-dashed hidden flex-1 p-1">Неизвестно</div>
</nav>
<main class="grid gap-1 text-lg leading-5 text-center grid-cols-[auto_1fr_1fr_1fr_1fr_1fr_1fr] grid-rows-auto">
<div class="border-2 border-cyan-600 bg-cyan-900 text-white rounded-lg font-bold p-2 flex flex-col justify-center">
Время
</div>
<div class="border-2 border-cyan-600 bg-cyan-900 text-white rounded-lg font-bold p-2">
Пн 15.08
</div><div class="border-2 border-cyan-600 bg-cyan-900 text-white rounded-lg font-bold p-2">
Вт 16.08
</div><div class="border-2 border-cyan-600 bg-cyan-900 text-white rounded-lg font-bold p-2">
Ср 17.08
</div><div class="border-2 border-cyan-600 bg-cyan-900 text-white rounded-lg font-bold p-2">
Чт 18.08
</div><div class="border-2 border-cyan-600 bg-cyan-900 text-white rounded-lg font-bold p-2">
Пт 19.08
</div><div class="border-2 border-cyan-600 bg-cyan-900 text-white rounded-lg font-bold p-2">
Сб 20.08
</div><div class="border-2 border-cyan-600 bg-cyan-900 text-white rounded-lg font-bold p-2 flex flex-col justify-center">
08:00<hr>09:35
</div>
<div class="flex flex-col gap-1"><div class="border-2 border-purple-400 bg-purple-950 text-white rounded-lg px-1 py-2 flex-1">
<div class="hidden p-1 rounded-xl"></div>
<div class="px-1 text-left"><p class="font-bold">Обьектно-ориентированное программирование</p>
<hr class="my-1">
<p class="">Лёзина И.В.</p>
<p class="w-full flex flex-row items-center">
  <a class="flex-1 grow font-bold">14 - 511</a>
  <a class="font-bold">Подгруппа: 1</a>
  <a class="hidden">ИОТ</a>
</p></div></div></div><div class="flex flex-col gap-1"><div class="border-2 border-green-400 bg-green-950 text-white rounded-lg px-1 py-2 flex-1">
<div class="hidden p-1 rounded-xl"></div>
<div class="px-1 text-left"><p class="font-bold">Электротехника</p>
<hr class="my-1">
<p class="">Теряева О.В.</p>
<p class="w-full flex flex-row items-center">
  <a class="flex-1 grow font-bold">адм - 511</a>
  <a class="font-bold"></a>
  <a class="hidden">ИОТ</a>
</p></div></div></div><div class="flex flex-col gap-1"><div class="border-2 border-slate-600 bg-slate-900 text-white rounded-lg px-1 py-2 flex-1">
<div class=" p-1 rounded-xl"></div>
<div class="px-1 text-left"><p class="hidden">Окно</p>
</div></div></div><div class="flex flex-col gap-1"><div class="border-2 border-slate-600 bg-slate-900 text-white rounded-lg px-1 py-2 flex-1">
<div class=" p-1 rounded-xl"></div>
<div class="px-1 text-left"><p class="hidden">Окно</p>
</div></div></div><div class="flex flex-col gap-1"><div class="border-2 border-orange-400 bg-orange-950 text-white rounded-lg px-1 py-2 flex-1">
<div class="hidden p-1 rounded-xl"></div>
<div class="px-1 text-left"><p class="font-bold">Военная кафедра</p>
<hr class="my-1">
<p class="">Преподаватели В.К.</p>
<p class="w-full flex flex-row items-center">
  <a class="flex-1 grow font-bold">4 - Военная кафедра</a>
  <a class="font-bold"></a>
  <a class="hidden">ИОТ</a>
</p></div></div></div><div class="flex flex-col gap-1"><div class="border-2 border-green-400 bg-green-950 text-white rounded-lg px-1 py-2 flex-1">
<div class="hidden p-1 rounded-xl"></div>
<div class="px-1 text-left"><p class="font-bold">Python для решения научных задач</p>
<hr class="my-1">
<p class="">Литвинов В.Г.</p>
<p class="w-full flex flex-row items-center">
  <a class="flex-1 grow font-bold">Online</a>
  <a class="font-bold"></a>
  <a class="font-bold outline-2 outline-slate-400 bg-slate-300 rounded-lg my-1 py-[0.25] px-2 text-slate-600">ИОТ</a>
</p></div></div></div><div class="border-2 border-cyan-600 bg-cyan-900 text-white rounded-lg font-bold p-2 flex flex-col justify-center">
09:45<hr>11:20
</div>
<div class="flex flex-col gap-1"><div class="border-2 border-purple-400 bg-purple-950 text-white rounded-lg px-1 py-2 flex-1">
<div class="hidden p-1 rounded-xl"></div>
<div class="px-1 text-left"><p class="font-bold">Обьектно-ориентированное программирование</p>
<hr class="my-1">
<p class="">Лёзина И.В.</p>
<p class="w-full flex flex-row items-center">
  <a class="flex-1 grow font-bold">14 - 511</a>
  <a class="font-bold">Подгруппа: 1</a>
  <a class="hidden">ИОТ</a>
</p></div></div></div><div class="flex flex-col gap-1"><div class="border-2 border-green-400 bg-green-950 text-white rounded-lg px-1 py-2 flex-1">
<div class="hidden p-1 rounded-xl"></div>
<div class="px-1 text-left"><p class="font-bold">Математический анализ</p>
<hr class="my-1">
<p class="">Горелов Г.Н.</p>
<p class="w-full flex flex-row items-center">
  <a class="flex-1 grow font-bold">5 - Л7</a>
  <a class="font-bold"></a>
  <a class="hidden">ИОТ</a>
</p></div></div></div><div class="flex flex-col gap-1"><div class="border-2 border-slate-600 bg-slate-900 text-white rounded-lg px-1 py-2 flex-1">
<div class=" p-1 rounded-xl"></div>
<div class="px-1 text-left"><p class="hidden">Окно</p>
</div></div></div><div class="flex flex-col gap-1"><div class="border-2 border-red-400 bg-red-950 text-white rounded-lg px-1 py-2 flex-1">
<div class="hidden p-1 rounded-xl"></div>
<div class="px-1 text-left"><p class="font-bold">Элективные курсы по физической культуре и спорту</p>
<hr class="my-1">
<p class="">Преподаватели К.Ф.</p>
<p class="w-full flex flex-row items-center">
  <a class="flex-1 grow font-bold">6 - Спорткомплекс</a>
  <a class="font-bold"></a>
  <a class="hidden">ИОТ</a>
</p></div></div></div><div class="flex flex-col gap-1"><div class="border-2 border-slate-600 bg-slate-900 text-white rounded-lg px-1 py-2 flex-1">
<div class=" p-1 rounded-xl"></div>
<div class="px-1 text-left"><p class="hidden">Окно</p>
</div></div></div><div class="flex flex-col gap-1"><div class="border-2 border-green-400 bg-green-950 text-white rounded-lg px-1 py-2 flex-1">
<div class="hidden p-1 rounded-xl"></div>
<div class="px-1 text-left"><p class="font-bold">Python для решения научных задач</p>
<hr class="my-1">
<p class="">Литвинов В.Г.</p>
<p class="w-full flex flex-row items-center">
  <a class="flex-1 grow font-bold">Online</a>
  <a class="font-bold"></a>
  <a class="font-bold outline-2 outline-slate-400 bg-slate-300 rounded-lg my-1 py-[0.25] px-2 text-slate-600">ИОТ</a>
</p></div></div></div><div class="border-2 border-cyan-600 bg-cyan-900 text-white rounded-lg font-bold p-2 flex flex-col justify-center">
11:30<hr>13:05
</div>
<div class="flex flex-col gap-1"><div class="border-2 border-red-400 bg-red-950 text-white rounded-lg px-1 py-2 flex-1">
<div class="hidden p-1 rounded-xl"></div>
<div class="px-1 text-left"><p class="font-bold">Теория вероятностей и случайных процессов</p>
<hr class="my-1">
<p class="">Якуткина Г.Н.</p>
<p class="w-full flex flex-row items-center">
  <a class="flex-1 grow font-bold">14 - 430</a>
  <a class="font-bold"></a>
  <a class="hidden">ИОТ</a>
</p></div></div></div><div class="flex flex-col gap-1"><div class="border-2 border-slate-600 bg-slate-900 text-white rounded-lg px-1 py-2 flex-1">
<div class=" p-1 rounded-xl"></div>
<div class="px-1 text-left"><p class="hidden">Окно</p>
</div></div></div><div class="flex flex-col gap-1"><div class="border-2 border-green-400 bg-green-950 text-white rounded-lg px-1 py-2 flex-1">
<div class="hidden p-1 rounded-xl"></div>
<div class="px-1 text-left"><p class="font-bold">Физика</p>
<hr class="my-1">
<p class="">Максимов В.В.</p>
<p class="w-full flex flex-row items-center">
  <a class="flex-1 grow font-bold">14 - 517</a>
  <a class="font-bold"></a>
  <a class="hidden">ИОТ</a>
</p></div></div></div><div class="flex flex-col gap-1"><div class="border-2 border-slate-600 bg-slate-900 text-white rounded-lg px-1 py-2 flex-1">
<div class=" p-1 rounded-xl"></div>
<div class="px-1 text-left"><p class="hidden">Окно</p>
</div></div></div><div class="flex flex-col gap-1"><div class="border-2 border-slate-600 bg-slate-900 text-white rounded-lg px-1 py-2 flex-1">
<div class=" p-1 rounded-xl"></div>
<div class="px-1 text-left"><p class="hidden">Окно</p>
</div></div></div><div class="flex flex-col gap-1"><div class="border-2 border-slate-600 bg-slate-900 text-white rounded-lg px-1 py-2 flex-1">
<div class=" p-1 rounded-xl"></div>
<div class="px-1 text-left"><p class="hidden">Окно</p>
</div></div></div><div class="border-2 border-cyan-600 bg-cyan-900 text-white rounded-lg font-bold p-2 flex flex-col justify-center">
13:30<hr>15:05
</div>
<div class="flex flex-col gap-1"><div class="border-2 border-slate-600 bg-slate-900 text-white rounded-lg px-1 py-2 flex-1">
<div class=" p-1 rounded-xl"></div>
<div class="px-1 text-left"><p class="hidden">Окно</p>
</div></div></div><div class="flex flex-col gap-1"><div class="border-2 border-slate-600 bg-slate-900 text-white rounded-lg px-1 py-2 flex-1">
<div class=" p-1 rounded-xl"></div>
<div class="px-1 text-left"><p class="hidden">Окно</p>
</div></div></div><div class="flex flex-col gap-1"><div class="border-2 border-slate-600 bg-slate-900 text-white rounded-lg px-1 py-2 flex-1">
<div class=" p-1 rounded-xl"></div>
<div class="px-1 text-left"><p class="hidden">Окно</p>
</div></div></div><div class="flex flex-col gap-1"><div class="border-2 border-green-400 bg-green-950 text-white rounded-lg px-1 py-2 flex-1">
<div class="hidden p-1 rounded-xl"></div>
<div class="px-1 text-left"><p class="font-bold">Компьютерная графика</p>
<hr class="my-1">
<p class="">Кудрина М.А.</p>
<p class="w-full flex flex-row items-center">
  <a class="flex-1 grow font-bold">Online</a>
  <a class="font-bold"></a>
  <a class="hidden">ИОТ</a>
</p></div></div></div><div class="flex flex-col gap-1"><div class="border-2 border-slate-600 bg-slate-900 text-white rounded-lg px-1 py-2 flex-1">
<div class=" p-1 rounded-xl"></div>
<div class="px-1 text-left"><p class="hidden">Окно</p>
</div></div></div><div class="flex flex-col gap-1"><div class="border-2 border-slate-600 bg-slate-900 text-white rounded-lg px-1 py-2 flex-1">
<div class=" p-1 rounded-xl"></div>
<div class="px-1 text-left"><p class="hidden">Окно</p>
</div></div></div><div class="border-2 border-cyan-600 bg-cyan-900 text-white rounded-lg font-bold p-2 flex flex-col justify-center">
15:15<hr>16:50
</div>
<div class="flex flex-col gap-1"><div class="border-2 border-slate-600 bg-slate-900 text-white rounded-lg px-1 py-2 flex-1">
<div class=" p-1 rounded-xl"></div>
<div class="px-1 text-left"><p class="hidden">Окно</p>
</div></div></div><div class="flex flex-col gap-1"><div class="border-2 border-slate-600 bg-slate-900 text-white rounded-lg px-1 py-2 flex-1">
<div class=" p-1 rounded-xl"></div>
<div class="px-1 text-left"><p class="hidden">Окно</p>
</div></div></div><div class="flex flex-col gap-1"><div class="border-2 border-slate-600 bg-slate-900 text-white rounded-lg px-1 py-2 flex-1">
<div class=" p-1 rounded-xl"></div>
<div class="px-1 text-left"><p class="hidden">Окно</p>
</div></div></div><div class="flex flex-col gap-1"><div class="border-2 border-green-400 bg-green-950 text-white rounded-lg px-1 py-2 flex-1">
<div class="hidden p-1 rounded-xl"></div>
<div class="px-1 text-left"><p class="font-bold">Обьектно-ориентированное программирование</p>
<hr class="my-1">
<p class="">Лёзина И.В.</p>
<p class="w-full flex flex-row items-center">
  <a class="flex-1 grow font-bold">Online</a>
  <a class="font-bold"></a>
  <a class="hidden">ИОТ</a>
</p></div></div></div><div class="flex flex-col gap-1"><div class="border-2 border-slate-600 bg-slate-900 text-white rounded-lg px-1 py-2 flex-1">
<div class=" p-1 rounded-xl"></div>
<div class="px-1 text-left"><p class="hidden">Окно</p>
</div></div></div><div class="flex flex-col gap-1"><div class="border-2 border-slate-600 bg-slate-900 text-white rounded-lg px-1 py-2 flex-1">
<div class=" p-1 rounded-xl"></div>
<div class="px-1 text-left"><p class="hidden">Окно</p>
</div></div></div><div class="border-2 border-cyan-600 bg-cyan-900 text-white rounded-lg font-bold p-2 flex flex-col justify-center">
17:00<hr>18:35
</div>
<div class="flex flex-col gap-1"><div class="border-2 border-slate-600 bg-slate-900 text-white rounded-lg px-1 py-2 flex-1">
<div class=" p-1 rounded-xl"></div>
<div class="px-1 text-left"><p class="hidden">Окно</p>
</div></div></div><div class="flex flex-col gap-1"><div class="border-2 border-slate-600 bg-slate-900 text-white rounded-lg px-1 py-2 flex-1">
<div class=" p-1 rounded-xl"></div>
<div class="px-1 text-left"><p class="hidden">Окно</p>
</div></div></div><div class="flex flex-col gap-1"><div class="border-2 border-slate-600 bg-slate-900 text-white rounded-lg px-1 py-2 flex-1">
<div class=" p-1 rounded-xl"></div>
<div class="px-1 text-left"><p class="hidden">Окно</p>
</div></div></div><div class="flex flex-col gap-1"><div class="border-2 border-green-400 bg-green-950 text-white rounded-lg px-1 py-2 flex-1">
<div class="hidden p-1 rounded-xl"></div>
<div class="px-1 text-left"><p class="font-bold">Теория вероятностей и случайных процессов</p>
<hr class="my-1">
<p class="">Якуткина Г.Н.</p>
<p class="w-full flex flex-row items-center">
  <a class="flex-1 grow font-bold">Online</a>
  <a class="font-bold"></a>
  <a class="hidden">ИОТ</a>
</p></div></div></div><div class="flex flex-col gap-1"><div class="border-2 border-slate-600 bg-slate-900 text-white rounded-lg px-1 py-2 flex-1">
<div class=" p-1 rounded-xl"></div>
<div class="px-1 text-left"><p class="hidden">Окно</p>
</div></div></div><div class="flex flex-col gap-1"><div class="border-2 border-slate-600 bg-slate-900 text-white rounded-lg px-1 py-2 flex-1">
<div class=" p-1 rounded-xl"></div>
<div class="px-1 text-left"><p class="hidden">Окно</p>
</div></div></div></main>

</body></html>